<!DOCTYPE html>
<html>
<title>Pvprle Wall Street</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
  body {
  background-color: #54062f;
}
</style>
<body>

<!-- Navbar (sit on top) -->

  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Wall Street</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="pvrple.html" class="w3-bar-item w3-button">Charts</a>
      <a href="heatmap.html" class="w3-bar-item w3-button">Heat Map</a>
      <a href="#contact" class="w3-bar-item w3-button">Help?</a>
    </div>
  </div>



<!-- Page content -->
  <HTML>
        <BODY>
    <TITLE="TICKER BAR">
     <Description="NASDAQ / NYSE">
         <TAGS="bitmex">   
         
         <body bgcolor="	#000000">
<br>
<br>
<center>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/FOREXCOM-DJI/" rel="noopener" target="_blank"><span class="blue-text">DJI Symbol Info</span></a> by TradingView designed by PB</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "FOREXCOM:DJI",
  "width": 1000,
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script>
</div>
<!-- TradingView Widget END -->

</center>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">KEY Stocks TICKER</span></a> by TradingView designed by PB</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "",
      "proName": "NASDAQ:TSLA"
    },
    {
      "description": "",
      "proName": "NASDAQ:NFLX"
    },
    {
      "description": "",
      "proName": "NASDAQ:MSFT"
    },
    {
      "description": "",
      "proName": "NASDAQ:AMD"
    },
    {
      "description": "",
      "proName": "NYSE:MRK"
    },
    {
      "description": "",
      "proName": "NYSE:NIO"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">KEY Stocks</span></a> by TradingView designed by PB</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Advanced Micro Devices - jan28 - (50.22)",
      "proName": "NASDAQ:AMD"
    },
    {
      "description": "Merk & Co Inc. - feb14 - (82.15)",
      "proName": "NYSE:MRK"
    },
    {
      "description": "Apple Inc. - feb18 - (316.81)",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "Microsoft Corp. - feb6 - (182.22)",
      "proName": "NASDAQ:MSFT"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->





<body bgcolor="	#000000">
    
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Semiconductor - Broadline</span></a> by TradingView designed by PB</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "",
      "proName": "NASDAQ:INTC"
    },
    {
      "description": "",
      "proName": "NASDAQ:AMD"
    },
    {
      "description": "",
      "proName": "NASDAQ:NVDA"
    },
    {
      "description": "",
      "proName": "NASDAQ:TXN"
    },
    {
      "description": "",
      "proName": "NASDAQ:MCHP"
    },
    {
      "description": "",
      "proName": "NASDAQ:MXIM"
    },
    {
      "description": "",
      "proName": "NASDAQ:AVGO"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Actual Portfolio</span></a> designed by PB</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "",
      "proName": "NASDAQ:TSLA"
    },
    {
      "description": "NFLX - $367,9",
      "proName": "NASDAQ:NFLX"
    },
    {
      "description": "MSFT - $182,2",
      "proName": "NASDAQ:MSFT"
    },
    {
      "description": "AMD - $50,2",
      "proName": "NASDAQ:AMD"
    },
    {
      "description": "MRK - $82,15",
      "proName": "NYSE:MRK"
    },
    {
      "description": "AAPL - $316,8",
      "proName": "NASDAQ:AAPL"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "compact",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">IMPORTANT ticker tape</span></a> by Pvrple Blvck</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "",
      "proName": "NASDAQ:LK"
    },
    {
      "description": "",
      "proName": "NYSE:RAD"
    },
    {
      "description": "",
      "proName": "NYSE:DAL"
    },
    {
      "description": "",
      "proName": "NYSE:CHWY"
    },
    {
      "description": "",
      "proName": "NYSE:GME"
    },
    {
      "description": "",
      "proName": "NYSE:UAA"
    },
    {
      "description": "",
      "proName": "NASDAQ:AAL"
    },
    {
      "description": "",
      "proName": "OMXHEX:NESTE"
    },
    {
      "description": "",
      "proName": "NYSE:TPX"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->



<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Walgreens Boots A.Inc - (P/E 13.00 | P 52.03 | Cap 47.46B)",
      "proName": "NASDAQ:WBA"
    },
    {
      "description": "Rite Aid Corporation - (P/E -- | P 14.98 | Cap 779.54M)",
      "proName": "NYSE:RAD"
    },
    {
      "description": "GNC Holdings, Inc. - (P/E 3.99 | P 2.24 | Cap 185.19M)",
      "proName": "NYSE:GNC"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "UNH (301.42)",
      "proName": "NYSE:UNH"
    },
    {
      "description": "ABT (88.40)",
      "proName": "NYSE:ABT"
    },
    {
      "description": "MDT (112.93)",
      "proName": "NYSE:MDT"
    },
    {
      "description": "TMO (335.10)",
      "proName": "NYSE:TMO"
    },
    {
      "description": "AMGN (221.09)",
      "proName": "NASDAQ:AMGN"
    },
    {
      "description": "CVS (71.05)",
      "proName": "NYSE:CVS"
    },
    {
      "description": "CI (221.33)",
      "proName": "NYSE:CI"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Healthcare - Drug Manufacturers - Drug Stores - Biotechnology - Health Care Plans - Medical Equipments - |2030.02.18|</span></a> by pvrpleblvck</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Jhonson & Jhonson - (P/E 26.97 | P 149.35 | Cap 395.02B)",
      "proName": "NYSE:JNJ"
    },
    {
      "description": "Merk & Co Inc. - (P/E 21.54 | P 82.52 | Cap 211.42B)",
      "proName": "NYSE:MRK"
    },
    {
      "description": "Pfizer Inc. - (P/E 12.75 | P 36.33| Cap 204.37B)",
      "proName": "NYSE:GNC"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
<br>
<center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/OANDA-SPX500USD/" rel="noopener" target="_blank"><span class="blue-text">SPX500USD Symbol Info</span></a> by Pvprle Blvck</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "OANDA:SPX500USD",
  "width": "100%",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/OANDA-NAS100USD/" rel="noopener" target="_blank"><span class="blue-text">NAS100USD Symbol Info</span></a> by Pvrple Blvck</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
  {
  "symbol": "OANDA:NAS100USD",
  "width": "100%",
  "locale": "en",
  "colorTheme": "dark",
  "isTransparent": false
}
  </script>
</div>
<!-- TradingView Widget END -->

</center>

    </HTML>
        </BODY>
  


<!-- Footer -->


</body>
</html>
